
body {
    color: #999999;
    font-family: "ヒラギノ角ゴ Pro W3",meiryo,"メイリオ","HGSゴシックE","ＭＳ Ｐゴシック",sun-serif;
    font-size: 12px;
    font-weight: normal;
    z-index: 0;
}
a {
    display: block;
}
h1 {
    display: inline-block;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0 0;
    position: relative;
    z-index: 1;
}
h2 {
    background: rgba(0, 0, 0, 0) url("../images/icon1_h2.png") no-repeat scroll left 10px;
    border-bottom: 1px solid #e1e1e1;
    color: #5e5e5e;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    overflow: hidden;
    padding: 10px 20px 5px 40px;
    position: relative;
    text-align: left;
    z-index: 1;
}
#wrapper {
    margin: 0 auto;
    min-width: 960px;
    position: relative;
}
header {
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 10px solid #f3f4f4;
    margin-bottom: 150px;
    position: relative;
}
#header_inner {
    margin: 0 auto;
    width: 960px;
}
#header_inner p {
    color: #555555;
    margin-top: -7px;
    position: relative;
    text-align: left;
    text-transform: uppercase;
    z-index: 1;
}
#bg_banner {
    background: rgba(0, 0, 0, 0) url("../images/bg.png") repeat scroll center top;
    height: 295px;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
.banner_inner {
    bottom: 0;
    left: 0;
    margin: 0 auto;
    position: absolute;
    right: 0;
    top: -225px;
    width: 960px;
}
#banner {
    background: rgba(0, 0, 0, 0) url("../images/banner.png") no-repeat scroll left top;
    height: 520px;
    margin: 0 auto;
    position: relative;
    z-index: 0;
}
.container {
    margin: 0 auto 30px;
    position: relative;
    width: 960px;
}
.content {
    float: right;
    margin-top: 0;
    position: relative;
    width: 710px;
}
#section {
    overflow: hidden;
    padding: 0 0 0 30px;
    position: relative;
}
#inner {
    background: rgba(0, 0, 0, 0) url("../images/bg.png") repeat-x scroll center -345px;
    position: relative;
}
#section > li {
    float: left;
    margin-bottom: 30px;
    position: relative;
}
#section .cate-sub {
    margin-bottom: 0;
}
#section li ul {
    overflow: hidden;
    position: relative;
}
#section .cate02 {
    margin-bottom: 0;
    padding-bottom: 0;
}
#section .cate02 ul li {
    float: left;
    margin-bottom: 30px;
}
#section .cate02 .box-2 {
    margin-bottom: 0;
    margin-left: 0;
}
#section .box-2 {
    margin: 0 0 0 20px;
}
#section li ul li .image {
    border: 5px solid #e7e7e7;
    float: left;
    margin: 0 20px 5px 0;
    perspective: 800px;
}
#section li ul li .image a {
    transition: all 500ms ease 0s;
}
#section li ul li .image img {
    display: block;
    position: relative;
}
#section .cate02 .image {
    float: right;
    margin-bottom: 0;
    margin-right: 0;
    width: 300px;
}
#section .image:hover a {
    opacity: 0.5;
}
#section .cate01 .text, #section .cate-sub .text {
    display: inline;
    text-align: left;
}
#section .text {
    letter-spacing: 1.8px;
    line-height: 170%;
    margin-top: 15px;
    overflow: hidden;
    position: relative;
    text-align: center;
}
#section .cate02 .text .title a {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll left center;
    color: #d29370;
    font-family: "Hiragino Mincho Pro";
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
    padding-left: 20px;
    text-decoration: none;
}
#section .cate02 .text {
    float: left;
    margin-right: 30px;
    margin-top: 0;
    text-align: left;
    width: 340px;
}
#section .cate02 .text .title a:hover {
    color: #747a7e;
    text-decoration: none;
}
#section .cate02 ul li .text .des {
    margin-bottom: 20px;
}
.more {
    border: 1px solid #a0a0a0;
    float: right;
    overflow: hidden;
    width: 125px;
}
.more a {
    background: rgba(0, 0, 0, 0) url("../images/arrow.png") no-repeat scroll 105px 13px;
    color: #a0a0a0;
    padding: 6px 15px 6px 12px;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 500ms ease 0s;
}
#section .text .more:hover {
    border-color: #747a7e;
    text-decoration: none;
}
#section .text .more a:hover {
    background: rgba(0, 0, 0, 0) url("../images/arrow_hover.png") no-repeat scroll 105px 13px;
    color: #30302e;
}
#Menu {
    background: #ffffff none repeat scroll 0 0;
    border-bottom: 5px solid #f3f4f4;
    float: left;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    position: relative;
    top: -35px;
    width: 250px;
}
#Menu > h3 {
    background: #f3f4f4 url("../images/icon_menu.png") no-repeat scroll 125px 10px;
    color: #30302e;
    font-size: 20px;
    font-weight: bold;
    padding: 15px 20px 15px 40px;
    position: relative;
    text-align: left;
}
#Menu li {
    position: relative;
}
#Menu li a {
    background: rgba(0, 0, 0, 0) url("../images/icon.png") no-repeat scroll 15px center;
    border-bottom: 1px dotted #eeeeee;
    color: #7d7d7d;
    font-weight: bold;
    margin: 0 30px;
    padding: 20px 20px 15px 45px;
    position: relative;
    text-decoration: none;
    transition: all 500ms ease 0s;
    z-index: 2;
}
#Menu li.end a {
    border-bottom: 0 none;
}
#Menu li a:hover {
    background-position: 30px center;
    color: #d29370;
    padding-left: 60px;
}
#Menu li.first a {
    color: #d29370;
}
.hot_deal {
    background-color: #ffffff;
    border: 5px solid #e7e7e7;
    overflow: hidden;
    width: 240px;
}
.hot_deal p a {
    color: #5e5e5e;
    font-family: "Georgia";
    font-size: 25px;
    text-decoration: none;
    text-transform: uppercase;
}
.hot_deal p {
    padding: 20px;
    text-align: left;
}
.hot_deal a:hover img {
    opacity: 0.8;
}
.hot_deal p a:hover {
    color: #999999;
}
#toTop {
    bottom: -55px;
    position: absolute;
    right: -180px;
    z-index: 1;
}
#toTop a:hover {
    opacity: 0.5;
}
#footer {
    background: #f3f4f4 none repeat scroll 0 0;
    clear: both;
    margin: 0 auto;
    position: relative;
    width: 100%;
}
#footer p {
    color: #444444;
    margin: 0 auto;
    padding: 15px 0;
    text-align: left;
    width: 960px;
}
#footer p a {
    color: #30302e;
    display: inline-block;
    font-weight: bold;
    margin: 0 5px;
    text-decoration: none;
    text-transform: uppercase;
}
#section .cate02 h2 {
    background: rgba(0, 0, 0, 0) url("../images/icon2_h2.png") no-repeat scroll left 10px;
}
#footer p a:hover {
    text-decoration: underline;
}
